<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">
        <label>My Portfolio</label>
        <hr />
        <nav>
            <a (click)="clickHandler();scroll(home)" routerLinkActive="active">Home</a>
            <a (click)="clickHandler();scroll(about)" routerLinkActive="active">About</a>
            <a (click)="clickHandler();scroll(experience)" routerLinkActive="active">Experience</a>
            <a (click)="clickHandler();scroll(skills)" routerLinkActive="active">Skills</a>
            <a (click)="clickHandler();scroll(education)" routerLinkActive="active">Education</a>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <header>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                <label>My Portfolio</label>
                <nav>
                    <a (click)="scroll(home)">Home</a>
                    <a (click)="scroll(about)">About</a>
                    <a (click)="scroll(experience)">Experience</a>
                    <a (click)="scroll(skills)">Skills</a>
                    <a (click)="scroll(education)">Education</a>
                </nav>
            </header>
        </mat-toolbar>
        <section style="padding-bottom:25px">
            <div #home>
                <app-profile-card></app-profile-card>
            </div>

            <div #about>
                <app-about></app-about>
            </div>
            <div #experience>
                <app-experience></app-experience>
            </div>
            <div #skills>
                <app-skills></app-skills>
            </div>

            <div #education>
                <app-education></app-education>
            </div>

            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>