<div class="container">
    <img class="image-fluid" src="../../../../assets/AdOps.png" alt="">
    <div class="content-center">
        <div class="cc-profile-image">
            <a>
                <img src="../../../../assets/profile.jpg" alt="">
            </a>
        </div>
        <h1 class="page-title">SAHANA H</h1>
        <h4>Ad Operations Executive</h4>
        <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" style="margin-right:10px">Download CV</button>
            <button mat-raised-button color="primary">Hire me</button>
        </div>

    </div>


</div>