.year-container {
  background-color: #00334d;
  color: white;
  font-size: 20px;
}

.mat-card {
  padding: 0;
  margin: 0;
}

.college-container {
  font-size: 26px;
}

.card-item {
  padding-bottom: 10px;
}
